apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base
- ./broadcaster-deployment.yaml

patches:
- patch: |
    - op: replace
      path: /spec/hostnames
      value:
        - www.thomastoumasu.dpdns.org
  target:
    kind: HTTPRoute
    name: frontend-route
- patch: |
    - op: replace
      path: /spec/hostnames
      value:
        - www.thomastoumasu.dpdns.org
  target:
    kind: HTTPRoute
    name: backend-route
namespace: production
images:
- name: PROJECT/BACKEND_IMAGE
  newName: europe-north1-docker.pkg.dev/dwk-gke-480809/my-repository/backend
  newTag: production-9be9eafb19e795b3a242236da8b7542207a8cb61
- name: PROJECT/BROADCASTER_IMAGE
  newName: europe-north1-docker.pkg.dev/dwk-gke-480809/my-repository/broadcaster
  newTag: production-9be9eafb19e795b3a242236da8b7542207a8cb61
- name: PROJECT/DB_IMAGE
  newName: europe-north1-docker.pkg.dev/dwk-gke-480809/my-repository/mongo
  newTag: production-9be9eafb19e795b3a242236da8b7542207a8cb61
- name: PROJECT/FRONTEND_IMAGE
  newName: europe-north1-docker.pkg.dev/dwk-gke-480809/my-repository/frontend
  newTag: production-9be9eafb19e795b3a242236da8b7542207a8cb61
- name: PROJECT/IMAGEFINDER_IMAGE
  newName: europe-north1-docker.pkg.dev/dwk-gke-480809/my-repository/image-finder
  newTag: production-9be9eafb19e795b3a242236da8b7542207a8cb61
