# apiVersion: v1
# kind: Pod
# metadata:
#   name: mongo-debug
#   labels:
#     app: mongo-debug
# spec:
#   containers:
#     - image: mongo
#       command:
#         - sleep
#         - '3600'
#       imagePullPolicy: IfNotPresent
#       name: mongo-debug
#   restartPolicy: Always

apiVersion: v1
kind: Pod
metadata:
  name: dumper
  namespace: project
spec:
  # serviceAccountName: gcs-api-service-account
  serviceAccountName: gcs-api-sa
  nodeSelector:
    iam.gke.io/gke-metadata-server-enabled: 'true'
  containers:
    - name: dumper
      image: thomastoumasu/k8s-mongo-dumper:3.10a-amd
      # command:
      #   - sleep
      #   - '3600'
      imagePullPolicy: IfNotPresent
  restartPolicy: Always
