# apiVersion: v1
# kind: Pod
# metadata:
#   name: mongo-debug
#   labels:
#     app: mongo-debug
# spec:
#   containers:
#     - image: mongo
#       command:
#         - sleep
#         - '3600'
#       imagePullPolicy: IfNotPresent
#       name: mongo-debug
#   restartPolicy: Always

apiVersion: v1
kind: Pod
metadata:
  name: dumper
  namespace: project
spec:
  serviceAccountName: gcs-api-sa
  containers:
    # - image: thomastoumasu/k8s-mongo-dumper:latest
      - image: thomastoumasu/k8s-mongo-dumper:3.10-amd
      # command:
      #   - sleep
      #   - '3600'
      imagePullPolicy: Always
      name: dumper
  restartPolicy: Always
