apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

patches:
- patch: |
    - op: replace
      path: /spec/hostnames
      value:
        - www.thomastoumasu.xx.kg
  target:
    kind: HTTPRoute
    name: frontend-route
- patch: |
    - op: replace
      path: /spec/hostnames
      value:
        - www.thomastoumasu.xx.kg
  target:
    kind: HTTPRoute
    name: backend-route
namespace: staging
images:
- name: PROJECT/BACKEND_IMAGE
  newName: 5e8bb395061e5872fe31326fad952c64bb207cb0
- name: PROJECT/BROADCASTER_IMAGE
- name: PROJECT/DB_IMAGE
- name: PROJECT/FRONTEND_IMAGE
- name: PROJECT/IMAGEFINDER_IMAGE
