apiVersion: apps/v1
kind: Deployment
metadata:
  name: pingpong-dep
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pingpong
  template:
    metadata:
      labels:
        app: pingpong
    spec:
      containers:
        - name: pingpong
          image: thomastoumasu/k8s-pingpong:3.2-amd
          env:
            - name: PORT
              value: '3002'
            - name: DATABASE_URL
              value: 'postgres://postgres:mysecretpassword@postgres-svc.exercises:5432/postgres'
